@color-primary: #435261;
@color-secondary: #8676b6;
@color-link: #2d6fb1;

@color-primary-light: lighten(@color-primary, 30%);
@color-secondary-light: lighten(@color-secondary, 8%);
@color-link-light: lighten(@color-link, 30%);

@color-error: #ff5252;

@color-border: #dfe1e9;
