<!--<div [style.background]="'#435261'">-->
<div>

    <div class="" *ngIf="true">HOME PAGE</div>

    <button pButton>eeeeeeeeeeeee</button>

    <div [style.color]="'#435261'">5555555555543333</div>
    <br>
    <div [style.color]="'#8676b6'">55555555555</div>
    <br>
    <div [style.color]="'#2d6fb1'">55555555555</div>
    <br>

    <app-text-input></app-text-input>

<!--    <span class="p-float-label">-->
<!--        <input id="float-input" type="text" pInputText>-->
<!--        <label for="float-input">Username</label>-->
<!--    </span>-->
    <br>
    <br>
    <br>
    <br>
    <div class="flex gap-3">
        <button pButton type="button" class="p-button-info"></button>
        <app-primary-button></app-primary-button>
        <button pButton type="button" label="Secondary" class="p-button-secondary"></button>
        <button pButton type="button" label="Success" class="p-button-success"></button>
        <button pButton type="button" label="Info" class="p-button-info"></button>
        <button pButton type="button" label="Warning" class="p-button-warning"></button>
        <button pButton type="button" label="Help" class="p-button-help"></button>
        <button pButton type="button" label="Danger" class="p-button-danger"></button>

    </div>
</div>
