@import "../../../assets/less/variables/colors.less";

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: #fff;
    color: @color-primary;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
}
